/*Have at least one stylesheet file of your own creation, styles.css, which uses at least five (5) different CSS selectors (e.g. tag (example), class (.example), or ID (#example)), and within which you use a total of at least five (5) different CSS properties, such as font-size, or margin; */

p
{
    color: blue;
}

.modal-title
{
    font-weight: bold;
}

.modal-body
{
    background-color: lightgreen;
}

#important_link
{
    font-family: cursive;
}
